/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --bg-clr-lightBlue-mix-oragne: color-mix(in srgb, lightblue 80%, orange 25%);
    --sky-blue: rgba(137, 207, 235, 80%);
    --white-text: #f4f4f4;
    --border-shadow: 1px 1px 3px rgba(41, 41, 41, 0.8);
}


body {
    display: grid;
    grid-template-rows: minmax(100px, 1fr) 8.5fr;
    overflow: auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .heading-title {
        font-size: 1.5rem;
    }
}


main {
    background-color: var(--bg-clr-lightBlue-mix-oragne);

}

.button-container {
    text-align: center;
    padding: 2.5rem 0;
}

.button-container > .addBookButton {
    background: none;
    border: var(--sky-blue) 5px outset;
    border-radius: 1rem;
	color: inherit;
	padding: 0;
	cursor: pointer;
	outline: inherit;

    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem 1rem;

    animation: silo-fade 0.2s;
}

/* addNewBook - animation */
@keyframes silo-fade {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-container > button:hover {
    background-color: var(--sky-blue);
    border-radius: 1rem;
}

.book-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 60vw;
    margin: 0 auto;
}

.addBookFrom {
    background-color: var(--sky-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--border-shadow);
}

.form-title > input,
.form-author > input,
.form-pages > input,
.addBookFrom > .submitButton {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
}

.form-title > input,
.form-author > input,
.form-pages > input,
.addBookFrom > .submitButton {
    font-size: 1.3rem;
}

.addBookFrom > h2 {
    font-weight: bolder;
}


.addBookFrom > .submitButton {
    padding: 0.5rem 5rem;
    font-weight: bolder;
    cursor: pointer;
}

.form-title > input:focus,
.form-author > input:focus,
.form-pages > input:focus {
    outline: var(--bg-clr-lightBlue-mix-oragne) 3px solid;
}

.addBookFrom > .submitButton:hover {
    background-color: var(--bg-clr-lightBlue-mix-oragne);
    color: var(--white-text);
    font-weight: bolder;
}

.whether-is-read > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.whether-is-read > input {
    margin-left: 0.5rem;
}

.bookInfoContainer {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bookInfoContainer::after  {
    content: " ";
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5rem;
    width: 125%;
    bottom: -10px;
}

.bookTitle {
    font-style: italic;
    font-weight: bolder;
    font-size: 1rem;
}


.libraryButtonContainer {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.readStatus {
    border: none;
    border-radius: 1rem;
    padding: 3px 15px;
    background-color: var(--bg-clr-lightBlue-mix-oragne);
    color: var(--white-text);
    font-weight: bold;
    cursor: pointer;

}

.removeButton {
    border: none;
    border-radius: 1rem;
    padding: 3px 15px;
    background-color: #f08080;
    font-weight: bold;
    color: var(--white-text);
    cursor: pointer;
}

.removeButton:hover,
.readStatus:hover {
    background-color: rgba(90, 11, 208, 0.2);
}

/* new book */
.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: 20vh;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
    background-color: var(--sky-blue);
    border-radius: 1.5rem;
    box-shadow: var(--border-shadow);
}

.book-card:last-child {
    animation: silo-fade 0.2s;
}


#addBookModal {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 1s
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media screen and (max-width: 700px) {
    .bookInfoContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .bookInfoContainer::after  {
        content: " ";
        position: absolute;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5rem;
        width: 80%;
        bottom: -10px;
    }

    .book-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        height: 30vh;
        gap: 1.5rem;
        width: 100%;
        align-items: center;
        background-color: var(--sky-blue);
        border-radius: 1.5rem;
        box-shadow: var(--border-shadow);
    }

    .libraryButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}