/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

:root {
    --bg-clr-lightBlue-mix-oragne: color-mix(in srgb, lightblue 80%, orange 25%);
    --sky-blue: rgba(137, 207, 235, 80%);
    --border-shadow: 1px 1px 3px rgba(41, 41, 41, 0.8);
}


body {
    display: grid;
    grid-template-rows: minmax(100px, 1fr) minmax(auto, 8fr);
    overflow: auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem;

    .heading-title {
        font-size: 1.5rem;
    }
}


main {
    background-color: var(--bg-clr-lightBlue-mix-oragne);

}

.button-container {
    text-align: center;
    padding: 2.5rem 0;
}

.button-container > button {
    background: none;
    border: var(--sky-blue) 5px outset;
    border-radius: 1rem;
	color: inherit;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.5rem 1rem;
}

.button-container > button:hover {
    background-color: var(--sky-blue);
    border-radius: 1rem;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    width: 80vw;
    margin: 0 auto;
}

.addBookFrom {
    background-color: var(--sky-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: var(--border-shadow);
}

.form-title > input,
.form-author > input,
.form-pages > input,
.addBookFrom > .submitButton {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
}

.form-title > input,
.form-author > input,
.form-pages > input,
.addBookFrom > .submitButton {
    font-size: 1.3rem;
}

.addBookFrom > h2 {
    font-weight: bolder;
}


.addBookFrom > .submitButton {
    padding: 0.5rem 5rem;
    font-weight: bolder;
    cursor: pointer;
}

.form-title > input:focus,
.form-author > input:focus,
.form-pages > input:focus {
    outline: var(--bg-clr-lightBlue-mix-oragne) 3px solid;
}

.addBookFrom > .submitButton:hover {
    background-color: var(--bg-clr-lightBlue-mix-oragne);
    color: #f4f4f4;
    font-weight: bolder;
}

.whether-is-read > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.whether-is-read > input {
    margin-left: 0.5rem;
}

/* new book */
.book-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    align-items: center;
    grid-row: 1;
    background-color: var(--sky-blue);
    border-radius: 1.5rem;
    box-shadow: var(--border-shadow);
    /* max-width: 100vh; */
}

.book-card > p:first-child {
    font-style: italic;
}

.book-card > p:first-child::before {
    content: "Title: ";
}

.book-card > p:nth-child(3)::after {
    content: " pages";
}


#addBookModal {
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 1s
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}